html, body, #root, .App {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
section {
  display: block;
  position: sticky;
}
.heroSection {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 0;
}
.other {
  position: sticky;
  z-index: 1;
  color: #fff;
  overflow: hidden;
  margin: 0;
  top: 0;
  height: 100vh;
}
.other .container {
  position: relative;
  width: 100%;
  text-align: center;
  transition: all ease 1s;
  opacity: 0;
  transform: scale(0.7);
}
.hero {
  position: fixed;
  top: 0;
  width: 100%;
}
.App canvas {
  position: relative;
  width: 100%;
  height: 100%;
}
.soon {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.soon h3 {
  font-size: 80px;
  line-height: 0px;
}
.soon .description {
  font-size: 20px;
}
.fadeIn .container {
  opacity: 1;
  transform: scale(1);
}
.fadeOut .container {
  opacity: 0;
  transform: scale(2);
}