html, body, #root, .App {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #000;
}
p, h1, h2 {
  margin: 0;
  padding: 0;
}
section {
  display: block;
  position: sticky;
}
.heroSection {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background: url("../public/texture/2k_stars_milky_way.jpeg") no-repeat;
  background-size: cover;
  background-position: center center;
}
canvas {
  position: relative;
  width: 100%;
  height: 100%;
}
.soon {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  line-height: 0;
}
.soon h3 {
  font-size: 80px;
  line-height: 0px;
}
.soon .description {
  font-size: 20px;
}


.other {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0;
  top: 0;
  height: 100vh;
}

.other .sticky {
  position: relative;
  width: 100%;
  height: 100%;
}
.other .container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all ease 1s;
}
.hero {
  position: fixed;
  top: 0;
  width: 100%;
}
.fadeZero .sticky, .fadeIn .sticky, .fadeOut .sticky {
  position: fixed;
  top: 0;
  left: 0;
}
.fadeZero .container {
  opacity: 0;
  transform: scale(0.7);
  transition: none;
}
.fadeIn .container {
  opacity: 1;
  transform: scale(1);
}
.fadeOut .container {
  opacity: 0;
  transform: scale(2);
}


.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #D7DCE5;
  white-space: nowrap;
}
.container {
  font-family: "Pretendard", sans-serif;
  /* letter-spacing: -1px; */
}
.main .subTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 26.4px;
  margin-bottom: 24px;
}
.main h1 {
  font-weight: 800;
  font-size: 84px;
  line-height: 92.4px;
}
.main h1, .main h2 {
  color: #fff;
}

#introduction .main {
  font-weight: 600;
  font-size: 24px;
  line-height: 38.4px;
}
h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 24px;
}
.description {
  font-weight: 600;
  font-size: 24px;
  line-height: 38.4px;
  margin-bottom: 48px;
  color: #b7bcc8;
}
.main button {
  height: 64px;
  border-radius: 32px;
  padding: 0px 32px 0px 32px;
  color: #fff;
  appearance: none;
  background: none;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 600;
}
#soon {
  z-index: 0;
}
#soon h1 {
  margin-bottom: 32px;
}
